<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <pscans>
        <autoTagScanners>
            <scanner>
                <name>html_tag_form</name>
                <type>TAG</type>
                <config>Form</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex/>
                <resBodyRegex>&lt;form</resBodyRegex>
                <enabled>true</enabled>
            </scanner>
            <scanner>
                <name>html_tag_password</name>
                <type>TAG</type>
                <config>Password</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex/>
                <resBodyRegex>&lt;password\s</resBodyRegex>
                <enabled>true</enabled>
            </scanner>
            <scanner>
                <name>html_type_password</name>
                <type>TAG</type>
                <config>Password</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex/>
                <resBodyRegex>type\s*=\s*['"]?password['"]?</resBodyRegex>
                <enabled>true</enabled>
            </scanner>
            <scanner>
                <name>html_type_hidden</name>
                <type>TAG</type>
                <config>Hidden</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex/>
                <resBodyRegex>type\s*=\s*['"]?hidden['"]?</resBodyRegex>
                <enabled>true</enabled>
            </scanner>
            <scanner>
                <name>html_type_upload</name>
                <type>TAG</type>
                <config>Upload</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex/>
                <resBodyRegex>type\s*=\s*['"]?file['"]?</resBodyRegex>
                <enabled>true</enabled>
            </scanner>
            <scanner>
                <name>html_tag_object</name>
                <type>TAG</type>
                <config>Object</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex/>
                <resBodyRegex>&lt;object\s</resBodyRegex>
                <enabled>true</enabled>
            </scanner>
            <scanner>
                <name>html_tag_script</name>
                <type>TAG</type>
                <config>Script</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex/>
                <resBodyRegex>&lt;script</resBodyRegex>
                <enabled>true</enabled>
            </scanner>
            <scanner>
                <name>html_mailto</name>
                <type>TAG</type>
                <config>MailTo</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex/>
                <resBodyRegex>href\s*=\s*['"]?mailto:</resBodyRegex>
                <enabled>true</enabled>
            </scanner>
            <scanner>
                <name>html_setcookie</name>
                <type>TAG</type>
                <config>SetCookie</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex>set-cookie</resHeadRegex>
                <resBodyRegex/>
                <enabled>true</enabled>
            </scanner>
            <scanner>
                <name>html_comment1</name>
                <type>TAG</type>
                <config>Comment</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex/>
                <resBodyRegex>/\*</resBodyRegex>
                <enabled>true</enabled>
            </scanner>
            <scanner>
                <name>html_comment2</name>
                <type>TAG</type>
                <config>Comment</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex/>
                <resBodyRegex>&lt;!--</resBodyRegex>
                <enabled>true</enabled>
            </scanner>
            <scanner>
                <name>response_json</name>
                <type>TAG</type>
                <config>JSON</config>
                <reqUrlRegex/>
                <reqHeadRegex/>
                <resHeadRegex>type\s*:\s*application\/json</resHeadRegex>
                <resBodyRegex/>
                <enabled>true</enabled>
            </scanner>
        </autoTagScanners>
    </pscans>
    <version>20014000</version>
    <reveal version="1">
        <enabled>false</enabled>
    </reveal>
    <bruteforce version="1">
        <threadPerHost>20</threadPerHost>
    </bruteforce>
    <anticsrf>
        <tokens>
            <token>
                <name>anticsrf</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>CSRFToken</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>__RequestVerificationToken</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>csrfmiddlewaretoken</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>authenticity_token</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>OWASP_CSRFTOKEN</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>anoncsrf</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>csrf_token</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>_csrf</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>_csrfSecret</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>__csrf_magic</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>CSRF</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>_token</name>
                <enabled>true</enabled>
            </token>
            <token>
                <name>_csrf_token</name>
                <enabled>true</enabled>
            </token>
        </tokens>
    </anticsrf>
    <script>
        <console version="1"/>
    </script>
    <requester version="1"/>
    <ajaxSpider version="6">
        <allowedResources>
            <allowedResource>
                <regex>^http.*\.js(?:\?.*)?$</regex>
                <enabled>true</enabled>
            </allowedResource>
            <allowedResource>
                <regex>^http.*\.css(?:\?.*)?$</regex>
                <enabled>true</enabled>
            </allowedResource>
        </allowedResources>
    </ajaxSpider>
    <selenium version="3">
        <chromeDriver>/demo/test_output/dast-output-3364173547/webdriver/linux/64/chromedriver</chromeDriver>
        <firefoxDriver>/demo/test_output/dast-output-3364173547/webdriver/linux/64/geckodriver</firefoxDriver>
    </selenium>
    <callhome version="1">
        <tel>
            <uuid>2c6c4846-6455-460c-b99f-d1d53db7a9cc</uuid>
        </tel>
    </callhome>
    <network>
        <serverCertificates version="1"/>
        <localServers version="1"/>
        <ratelimit version="1"/>
        <globalExclusions version="1">
            <exclusions>
                <exclusion>
                    <name>Extension - Image (ends with .extension)</name>
                    <value>^.*\.(?:gif|jpe?g|png|ico|icns|bmp)$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Extension - Audio/Video (ends with .extension)</name>
                    <value>^.*\.(?:mp[34]|mpe?g|m4[ap]|aac|avi|mov|wmv|og[gav])$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Extension - PDF &amp; Office (ends with .extension)</name>
                    <value>^.*\.(?:pdf|docx?|xlsx?|pptx?)$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Extension - Stylesheet, JavaScript (ends with .extension)</name>
                    <value>^.*\.(?:css|js)$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Extension - Flash &amp; related (ends with .extension)</name>
                    <value>^.*\.(?:sw[fa]|flv)$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>ExtParam - Image (extension plus ?params=values)</name>
                    <value>^[^\?]*\.(?:gif|jpe?g|png|ico|icns|bmp)\?.*$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>ExtParam - Audio/Video (extension plus ?params=values)</name>
                    <value>^[^\?]*\.(?:mp[34]|mpe?g|m4[ap]|aac|avi|mov|wmv|og[gav])\?.*$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>ExtParam - PDF &amp; Office (extension plus ?params=values)</name>
                    <value>^[^\?]*\.(?:pdf|docx?|xlsx?|pptx?)\?.*$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>ExtParam - Stylesheet, JavaScript (extension plus ?params=values)</name>
                    <value>^[^\?]*\.(?:css|js)\?.*$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>ExtParam - Flash &amp; related (extension plus ?params=values)</name>
                    <value>^[^\?]*\.(?:sw[fa]|flv)\?.*$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>ExtParam - .NET adx resources (SR/WR.adx?d=)</name>
                    <value>^[^\?]*/(?:WebResource|ScriptResource)\.axd\?d=.*$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Bing API queries</name>
                    <value>^https?://api\.bing\.com/qsml\.aspx?query=.*$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Google malware detector updates</name>
                    <value>^https?://(?:safebrowsing-cache|sb-ssl|sb|safebrowsing).*\.(?:google|googleapis)\.com/.*$</value>
                    <enabled>true</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Lastpass manager</name>
                    <value>^https?://(?:[^/])*\.?lastpass\.com</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Firefox browser updates</name>
                    <value>^https?://(?:.*addons|aus[0-9])\.mozilla\.(?:org|net|com)/.*$</value>
                    <enabled>true</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Firefox extensions phoning home</name>
                    <value>^https?://(?:[^/])*\.?(?:getfoxyproxy\.org|getfirebug\.com|noscript\.net)</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Microsoft Windows updates</name>
                    <value>^https?://(?:.*update\.microsoft|.*\.windowsupdate)\.com/.*$</value>
                    <enabled>true</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Google Chrome extension updates</name>
                    <value>^https?://clients2\.google\.com/service/update2/crx.*$</value>
                    <enabled>true</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Firefox captive portal detection</name>
                    <value>^https?://detectportal\.firefox\.com.*$</value>
                    <enabled>true</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Google Analytics</name>
                    <value>^https?://www\.google-analytics\.com.*$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Firefox h264 codec download</name>
                    <value>^https?://ciscobinary\.openh264\.org.*$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Fonts CDNs such as fonts.gstatic.com, etc.</name>
                    <value>^https?://fonts.*$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Mozilla CDN (requests such as getpocket)</name>
                    <value>^https?://.*\.cdn\.mozilla\.(?:com|org|net)/.*$</value>
                    <enabled>true</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Firefox browser telemetry</name>
                    <value>^https?://.*\.telemetry\.mozilla\.(?:com|org|net)/.*$</value>
                    <enabled>true</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Adblockplus updates and notifications</name>
                    <value>^https?://.*\.adblockplus\.org.*$</value>
                    <enabled>false</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Firefox services</name>
                    <value>^https?://.*\.services\.mozilla\.com.*$</value>
                    <enabled>true</enabled>
                </exclusion>
                <exclusion>
                    <name>Site - Google updates</name>
                    <value>^https?://.*\.gvt1\.com.*$</value>
                    <enabled>true</enabled>
                </exclusion>
            </exclusions>
        </globalExclusions>
        <connection version="4">
            <defaultUserAgent>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36</defaultUserAgent>
        </connection>
        <clientCertificates version="1"/>
    </network>
    <rules>
        <common>
            <sleep>15</sleep>
        </common>
        <csrf>
            <ignorelist/>
            <ignore>
                <attname/>
                <attvalue/>
            </ignore>
        </csrf>
        <cookie>
            <ignorelist/>
        </cookie>
        <domains>
            <trusted/>
        </domains>
        <domxss>
            <browserid/>
        </domxss>
    </rules>
    <graphql version="2"/>
    <formhandler version="1">
        <fields>
            <field>
                <fieldId>color</fieldId>
                <value>#ffffff</value>
                <enabled>true</enabled>
                <regex>false</regex>
            </field>
            <field>
                <fieldId>email</fieldId>
                <value>zaproxy@example.com</value>
                <enabled>true</enabled>
                <regex>false</regex>
            </field>
            <field>
                <fieldId>name</fieldId>
                <value>ZAP</value>
                <enabled>true</enabled>
                <regex>false</regex>
            </field>
            <field>
                <fieldId>password</fieldId>
                <value>ZAP</value>
                <enabled>true</enabled>
                <regex>false</regex>
            </field>
            <field>
                <fieldId>phone</fieldId>
                <value>9999999999</value>
                <enabled>true</enabled>
                <regex>false</regex>
            </field>
            <field>
                <fieldId>url</fieldId>
                <value>https://zap.example.com</value>
                <enabled>true</enabled>
                <regex>false</regex>
            </field>
            <field>
                <fieldId>(?i)_?back[-_]?(?:link|uri|url)?</fieldId>
                <value>https://zap.example.com</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?bg[-_]?colou?r</fieldId>
                <value>#FFFFFF</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?query|find|keyword</fieldId>
                <value>ZAP</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?search[-_]?(?:term|word|param|parameter|string|text|value|keyword|query)?</fieldId>
                <value>ZAP</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?amount|amt|count|qty|quantity</fieldId>
                <value>3</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?lang|language</fieldId>
                <value>en</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?locale[-_]?(?:code)?</fieldId>
                <value>en-US</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?(?:comment|subject|summary)?</fieldId>
                <value>Zaproxy dolore alias impedit expedita quisquam.</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?(?:description|message|(?:email|post)?[-_]?content)?</fieldId>
                <value>Zaproxy alias impedit expedita quisquam pariatur exercitationem. Nemo rerum eveniet dolores rem quia dignissimos.</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?state</fieldId>
                <value>Oklahoma</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?city</fieldId>
                <value>East Romaineburgh</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?address[_-]?1?</fieldId>
                <value>688 Zaproxy Ridge</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
            <field>
                <fieldId>(?i)_?address[_-]?2</fieldId>
                <value>Suite 473</value>
                <enabled>true</enabled>
                <regex>true</regex>
            </field>
        </fields>
    </formhandler>
    <globalalertfilter version="1"/>
    <fuzz version="2">
        <defaultThreadsPerFuzzer>20</defaultThreadsPerFuzzer>
        <defaultCategoryName/>
        <defaultFuzzDelayInMs>0</defaultFuzzDelayInMs>
        <customFuzzerLastSelectedDirectory/>
    </fuzz>
    <oast version="1">
        <boast version="1">
            <pollingFrequency>60</pollingFrequency>
        </boast>
        <callback version="1"/>
        <interactsh version="1">
            <pollingFrequency>60</pollingFrequency>
        </interactsh>
    </oast>
    <hud>
        <newChangelog>true</newChangelog>
        <tutorialUpdates>History</tutorialUpdates>
        <tutorialUpdates>Comments</tutorialUpdates>
        <tutorialUpdates>ToggleScript</tutorialUpdates>
    </hud>
</config>
